<div class="container">

<div class="index-body">
  <h1>My bookings</h1>
  <br>
  <br>
  <div class="card_booking_index">

  <% @customer_bookings.each do |booking|%>

  <%= cl_image_tag(booking.watch.image, width: 100, height: 100, crop: :fill) %> - <%= booking.watch.name %> - <%= booking.watch.price %> € -
  <% end %>

  <% @owner_watches.each do |watch| %>
  <%= cl_image_tag(watch.image, width: 100, height: 100, crop: :fill) %> - <%= watch.name %> - <%= watch.price %> €
  <button type="button" class="btn btn-primary span_button_bk">Update</button>
  <button type="button" class="btn btn-danger span_button_bk">Delete</button>
  <% end %>

  </div>
</div>
</div>
