
<h2><strong>Mettre en loc ma montre :</strong></h2>

  <%= form_for @watch do |f| %>

      Name : <%= f.text_field :name %>
      Descprition : <%= f.text_field :description %>
      Brand : <%= f.text_field :brand %>
      Style : <%= f.text_field :gender %>
      Price : <%= f.text_field :price %>
      Color : <%= f.text_field :color %>
      Material : <%= f.text_field :material %>

  <% end %>
