
<div class="container">

  <h2><strong>Mettre en loc ma montre :</strong></h2>
  <div class="row">
    <div class="class col-xs-12 col-sm-6 col-ls-3 col-lg-offset-3">
      <%= simple_form_for @watch do |f| %>

          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :brand, :collection => ["Rolex", "Richard Mille", "Cartier", "Patek Philippe", "Audemars Piguet", "Blancpain", "Seiko", "Hublot", "Breitling"] %>
          <%= f.input :gender, :collection => ["Man", "Woman", "Unisex"]%>
          <%= f.input :style, :collection => ["City Chic", "Sportswear", "Ceremony", "Vintage", "Design", "Bling Bling"]%>
          <%= f.input :price %>
          <%= f.input :color, :collection => ["Yellow", "Gold", "White", "Black", "Blue", "Red", "Grey", "Brown"] %>
          <%= f.input :material, :collection => ["Carbonne", "Leather", "Acier", "Silicone", "Gold", "Diamonds", "Silver"] %>
          <%= f.input :location %>
          <%= f.file_field :image %>
          <%= f.button :submit %>
      <% end %>
    </div>
  </div>

</div>
<!--

<div class="form-group">
    <select class="custom-select" required>
      <option value="">Open this select menu</option>
      <option value="1">Rolex</option>
      <option value="2">Rolex</option>
      <option value="3">Rolex</option>
    </select>
    <div class="invalid-feedback">Example invalid custom select feedback</div>
  </div>

 -->
