
<div class="container">

  <h2><strong>Mettre en loc ma montre :</strong></h2>
  <div class="row">
    <div class="class col-xs-12 col-sm-6 col-ls-3 col-lg-offset-3">
      <%= simple_form_for @watch do |f| %>

          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :brand %>
          <%= f.input :gender %>
          <%= f.input :style %>
          <%= f.input :price %>
          <%= f.input :color %>
          <%= f.input :material %>
          <%= f.input :address %>
          <%= f.button :submit %>
      <% end %>
    </div>
  </div>

</div>

