
<div class="container">


  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="caroussel-image" style="background-image: url('<%= cl_image_path @watch.image, height: 100, width: 100, crop: :fill; %>');"></div>
        <%#= cl_image_tag @watch.image %>
      </div>
      <div class="item">
        <div class="caroussel-image" style="background-image: url('<%= cl_image_path @watch.image, height: 100, width: 100, crop: :fill; %>');"></div>
        <%#= cl_image_tag @watch.image %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

<div class="container">

  <div class="row watch-description">
    <div class="col-xs-8">
      <div class="content">
        <h2 style="text-align: center"><%= @watch.name %></h2>

        <h4><i class="fab fa-first-order-alt"><strong></i> Description : </strong><%= @watch.description %></h4>

        <h4><i class="fab fa-first-order-alt"></i><strong> Material : </strong><%= @watch.material %></h4>

        <h4><i class="fab fa-first-order-alt"></i><strong> Brand : </strong><%= @watch.brand %></h4>

        <h4><i class="fab fa-first-order-alt"></i><strong> Color : </strong><%= @watch.color %></h4>
      <div class="h4">
          <h4><i class="fab fa-first-order-alt"></i><strong> Price : </strong><%= @watch.price %>€</h4>
      </div>
        <h4><i class="fab fa-first-order-alt"></i><strong> Gender : </strong><%= @watch.gender %></h4>
      </div><!-- content-->


      <div>
        <% if @watch.user == current_user %>
      <div class="button">
        <%= link_to "Edit", edit_watch_path(@watch.id) %>
      </div>
          <%= link_to "Delete", watch_path(@watch), method: :delete, data: {confirm: "Are you sure yo #{current_user.name} ? Sure of what you doin you crazy ?"} %>
        <% end %>
      </div>
    </div><!--col-xs-6 -->
    <div class="col-xs-4 form-watch">
      <div class="watch-price">
        <p><strong><%= @watch.price %></strong>€ par jour </p>
      </div>
      <div class="form_for">
          <%= simple_form_for([@watch, @booking]) do |f| %>
            <%= label_tag(:start_at, "Date de début:") %><br>
            <%= f.date_field :start_at %>
            <span style="display: none;"><%= f.button :submit %></span>
          <% end %>
      </div>

          <center>
      <div class="form_for">
        <div class="date_2">

          <%= form_tag("/search", method: "get") do %>
            <%= label_tag(:q, "Date de fin:") %><br>
            <%= date_field_tag(:q) %>
          <% end %>
        </div>
      </div>
          </center>
          <%= link_to 'Demande de réservation', booking_path, class: "btn button-watch" %>

      </div><!-- form_for-->


    </div><!-- col-xs-6-->
  <!-- row-->
</div><!-- container-->

